* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://mtec.ethz.ch/news/corona/_jcr_content/par/fullwidthimage/image.imageformat.fullwidth.2136870596.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo {
    cursor: pointer;
    font-size: 40px;
    color: #d22938;
    text-decoration: none;
}
.logo:hover {
    color: wheat;
}
.nav-area {
    list-style: none;
}
.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a {
    transition: 0.3s;
    color: wheat;
}
.nav-area li a:hover {
    color: #d22938;
}
.btn-area {
    cursor: pointer;
    color: wheat;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 15px;
    background: #d22938;
    transition: 0.3s;
}
.btn-area:hover {
    color: #d22938;
    background: wheat;
    border-radius: 5px;
}
.back{
    background-color: #272727;
    width: 100%;
    height: 565px;
    padding: 30px;
    border: 5px solid #d22938;
    position: relative;
}
.back img{
    height: 500px;
}
.text{
    position: absolute;
    color: white;
    font-size: 25px;
    height: 565;
    padding: 25px;
    font-weight: 300;
    width: 640px;
    top: 0;
    left: 865px;
}
.center{
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translate( -50%);
    width: 700px;
    padding: 30px;
    background-color: #272727;
    color: wheat;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #d22938;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt-field{
    position: relative;
    border-bottom: 3px solid #f32e3f;
    margin: 30px 0;
}
.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: wheat;
    text-align: center;
}
.txt-field label{
    top: 50%;
    left: 5px;
    color: wheat;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.btn{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: wheat;
    color: #d22938;
    border-radius: 5px;
    left: 180px;
}
.btn a{
    color: #d22938;
    text-decoration: none;
    font-size: 25px;
}
.btn:hover{
    background-color: #272727;
}
.btn a:hover{
    color: wheat;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #f32e3f;
    color: white;
    padding: 40px;
    position: relative;
}

.coviz{
    position: relative;
    left: 50px;
}

.vl {
    border-left: 3px solid #272727;
    height: 220px;
    position: absolute;
    top: 40px;
    left: 350px;
}

.explore {
    position: absolute;
    left: 400px;
    top: 90px;
}

.quick-links {
    position: absolute;
    top: 130px;
    left: 357px;
}

.quick-items {
    list-style: none;
}

.quick-items a {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;
    transition: all .25s
}

.quick-items a:hover {
    color: #272727;
}

.visit {
    position: absolute;
    left: 560px;
    top: 90px;
}

.follow {
    position: absolute;
    left: 850px;
    top: 55px;
}

.social-links {
    position: absolute;
    left: 865px;
    top: 90px;
}

.social-items {
    list-style: none;
}

.social-items a {
    margin: 5px;
    font-size: 30px;
    color: #272727;
    transition: all .25s;
}

.social-items a:hover {
    color: white;
}

.contact {
    position: absolute;
    left: 975px;
    top: 78px;
}

.legal {
    position: absolute;
    left: 1280px;
    top: 78px;
}

.legal a {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;
    transition: all .25s
}

.legal a:hover {
    color: #272727;
}

.outer-footer {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #272727;
}